body {
    background-color: blue;
}

h1 {
    color: orangered;
    margin-left: 50px;
}

p.ex1 {
    color: white;
    font: bold 15px Times, sans-serif;
    border-style: rounded;
    border-bottom: thick dotted red;
}

p.ex2 {
    color: white;
    font: italic bold 12px/30px Georgia, serif;
}

img.one {
    height: 50px;
    width: 50px;
    float: left;
}

img.two {
    height: 50px;
    width: 50px;
}

.image { 
   position: relative; 
   margin-top: 20px;
   margin-bottom: 20px;
   margin-right: 20px;
   margin-left: 20px;
}

.text {
    left: 0;
    position:absolute;
    text-align:center;
    top: 30px;
    width: 100%
}

p.image {
    color: white;
    border-style: dotted;
}

#rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 100px;
    height: 100px;    
}